/* theme of my website is a combination of this color blue===b2fbff  yellow==f8ffdd dark yellow===ffeb50 */
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none; 
}
.contentWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
li{
  list-style: none;
  }
  .links a{
    text-decoration: none;
    font-size: 1rem;
   
  }
  nav{
    display: flex;
    width: 100%;
    padding: 0 2rem;
    margin: 22px auto;
    align-items: center;
    justify-content: space-between;
  }
  .logo img{
    max-width: 150px;
  }
  .links{
    display: flex;
    gap: 3rem;
  }
  .toggel-btn{
display: none;
  }

  /* ===================================numorphis===================== */

 